body{
    background-image: url("./save.jpg");
    background-repeat: no-repeat;
    background-position: auto;
    background-size: cover;
    padding: 50px;
    margin: 5px;
    
}
.container{
    background-color: transparent;
}
.container-fluid{
    background-color: transparent;
    color: aliceblue;
}
.form-control{
    background-color: transparent;
    color: aliceblue;
    border: 2px solid white;
}
::placeholder{
    color: whitesmoke;
}
